.login-form {
    width: 30%;
    background-color: #070937;
    padding: 30px 20px;
    color: #f9ffff;
    border-radius: 20px;
    cursor: default;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    color: #34e2ad;
}

.login-form p {
    color: hsl(176, 100%, 84%);;
    font-weight: bold;
}


.login-form form input {
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f9ffff;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 0;
    margin-left: 15px;
    width: 100%;
    cursor: default;
}

.login-form form .input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #102551;
}

.login-form form .input .icon {
    margin-left: 15px;
    width: 30px;
}

.check-content {
    display: flex;
    flex-direction: row;
}

.check-content p {
    color: #f9ffff;
}

button {
    background-color: #34e2ad;
    border: none;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    color: #f9ffff;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}